@charset "utf-8";
#menu{
	float:left;
	width:150px;
	border:1px solid green;
}
#menu>a{
	display:block;
}
#content{
	margin-left:160px;
	border:1px solid red;
}

#outputAll {
	border:1px solid black;
}

.delete {
	color: blue;
	cursor: pointer;
}

#user_panel {
	background-color: yellow;
	padding: 5px;
}

#mess {
	border: 1px solid black;
	background-color: #FFEBCD;
}

iframe#file-frame {
	display: none;
}

div#zadaniya-add {
	cursor: pointer;
}
.for-pr-bar{
	width:100%;
	border:1px solid #ccc;
	border-radius:3px;
	overflow:hidden;
	text-align:center;
	position:relative;
}
.proc-isp {
	/*background-color: #F08080;*/
	background: url("../img/animated-overlay.gif");
	background-color: yellow;
	height:22px;
}
.for-pr-bar>span{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	text-align:center;
	height:22px;
	line-height:20px;
	color:red;
}

/*div.comments {
	display:none;
}*/
.comments{
	background:#ccc;
	border:1px solid red;
}

th.order{
	cursor: pointer;
}